/* General page styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

/* Main content container */
#main-interface {
    max-width: 650px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Text area styling */
textarea {
    width: 97%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: none;
}

/* Action buttons layout */
#actions {
    display: flex;
    gap: 10px;
}

/* General button styles */
button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    height: 46px;
}

button:hover {
    background-color: #1C86EE;
}

/* Upload label styling */
.upload-label {
    display: inline-block;
    background-color: #1E90FF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
}

.upload-label input {
    display: none;
}

/* Status message styling */
#status-message {
    margin-top: 15px;
    font-size: 16px;
}

/* Modal window styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    position: absolute; /* Position it at the top */
    top: 10px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    max-height: 80vh; /* Maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Modal close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover {
    color: black;
    cursor: pointer;
}

/* Help button specific styles */
#actions button#help-btn {
    background-color: #4CAF50;
    color: white;
}

#actions button#help-btn:hover {
    background-color: #45a049;
}
